.mainTop{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg1);
  z-index: 1000;
}

.mainTop h1{
  font-size: 20px;
  font-weight: 600 !important;
}

.mainTop img{
  margin: 0 6px;
  height: 38px;
  cursor: pointer;
}

