.mainTop{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr0);
  z-index: 1000;
}

.mainTop h1{
  font-size: 16px;
  font-weight: 600 !important;
}

.mainTop img{
  margin: 0 6px;
  height: 38px;
  cursor: pointer;
}

@media screen and (min-width:768px) {

  .mainTop{
    height: 80px;
  }
  
  .mainTop h1{
    font-size: 18px;
  }
  
  .mainTop img{
    height: 48px;
  }

}

