.title{
  padding: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1{
  font-size: 28px;
  font-family: 'Bebas' !important;
  color: var(--clrGlobalG);
}

.title svg, .title path{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 24px;
  font-size: 45px;
  color: var(--clrGlobalG);
  cursor: pointer;
}