.iconSearchMain{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSearch{
  width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.iconSearch h1{
  margin-right: 10px !important;
  font-size: 16px;
  color: var(--clr3);
} 

.iconSearch svg, .iconSearch path{
  font-size: 24px;
  color: var(--clr3);
  cursor: pointer;
} 

.searchMain {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: var(--bgBody);
  z-index: 1000;
}

.noFolios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.noFolios svg, .noFolios path{
  font-size: 60px;
  color: var(--clr0);
}

.noFolios h1{
  margin-top: 20px !important;
  font-size: 18px;
  font-weight: 600 !important;
  color: var(--clr0);
}

.noFolios h2{
  margin-top: 20px !important;
  font-size: 16px;
  text-align: center;
  color: var(--clrGR0);
}

.noFolios a{
  margin-top: 20px !important;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.noFolios a svg, .noFolios a path{
  margin-left: 4px;
  font-size: 16px;
  text-align: center;
  color: var(--clr1);
  cursor: pointer;
}

.noFolios a:hover svg, .noFolios a:hover path{
  color: var(--clr0);
}

@media screen and (min-width: 768px) {

  .searchMain {
    top: 80px;
  }

}


