.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  padding: 30px 0 80px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section svg, .section path{
  font-size: 80px;
  color: azure;
}

.datos_usuario{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos_usuario h1{
  margin-top: 5px;
  font-size: 24px;
  color: var(--clr2);
}

.datos_usuario h2{
  margin-top: 5px;
  font-size: 15px;
}

.iconEdit{
  margin: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit div{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  border-radius: 50%;
  cursor: pointer;
}

.iconEdit svg, .iconEdit path{
  color: var(--clr2);
}

.iconEdit div:hover{
  background-color: var(--bg3);
}

.iconEdit div:active{
  background-color: var(--bg4);
}

.iconEdit svg, .iconEdit path{
  font-size: 20px;
  color: var(--clr0);
  cursor: pointer;
}

.datos_pdf{
  padding: 0 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos_pdf h1{
  font-size: 24px;
}

.datos_pdf div{
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos_pdf div h1{
  font-size: 16px;
  color: var(--clr2);
}

.datos_pdf div h2{
  margin: 2px 0 10px 0 !important;
  font-size: 14px;
  text-align: center;
}

.datos_pdf img{
  margin-top: 10px;
  width: 250px;
  cursor: pointer;
}

.datos_pdf svg, .datos_pdf path{
  margin-top: 10px;
  font-size: 60px;
  cursor: pointer;
}

.toggleMain{
  margin-top: 50px;
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggleMain h1{
  font-size: 16px;
  text-align: center;
}

.toggleMain > div{
  width: 100%;
  max-width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.toggleMain > div > div{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleMain > div:first-of-type{
  margin-top: 10px;
}

.toggleMain h2{
  margin-top: 15px !important;
  font-size: 14.5px;
}

.toggleMain h3{
  margin-right: 10px !important;
  font-size: 14px;
}

.toggleClr1ONBan,
.toggleClr2ONBan,
.toggleClr1ON, 
.toggleClr2ON,
.toggleClr3ON,
.toggleClr4ON,
.toggleClr5ON,
.toggleClrOFF{
  margin-top: 8px;
}

.toggleClr1ONBan svg, .toggleClr1ONBan path, 
.toggleClr2ONBan svg, .toggleClr2ONBan path, 
.toggleClr1ON svg, .toggleClr1ON path, 
.toggleClr2ON svg, .toggleClr2ON path,
.toggleClr3ON svg, .toggleClr3ON path,
.toggleClr4ON svg, .toggleClr4ON path,
.toggleClr5ON svg, .toggleClr5ON path,
.toggleClrOFF svg, .toggleClrOFF path{
  font-size: 38px;
  cursor: pointer;
}

.toggleClr2ONBan svg, .toggleClr2ONBan path{
  color: rgb(100, 100, 100);
}

.toggleClr2ON svg, .toggleClr2ON path{
  color: var(--clr3);
}

.toggleClr3ON svg, .toggleClr3ON path{
  color: green;
}

.toggleClr4ON svg, .toggleClr4ON path{
  color: red;
}

.toggleClr5ON svg, .toggleClr5ON path{
  color: orange;
}

.toggleClrOFF svg, .toggleClrOFF path{
  color: rgb(50, 50, 50);
}

.iconClose{
  position: absolute;
  top: 10px;
  right: 10px;
}

.iconClose svg, .iconClose path{
  font-size: 20px;
  cursor: pointer;
}

.iconCheck{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--bg3);
}

.iconCheck:active{
  background-color: var(--bg4);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clr1);
  cursor: pointer;
}