.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  margin-right: 10px;
  font-size: 20px;
  color: var(--clrR0);
  cursor: pointer;
}

.iconDel div:hover svg, .iconDel div:hover path{
  color: var(--clrR1);
}

.iconDel div:active svg, .iconDel div:active path{
  color: var(--clrR2);
}