.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  margin-right: 10px;
  font-size: 20px;
  color: var(--clrGlobalG);
  cursor: pointer;
}