.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.addCliente{
  padding-left: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addCliente h1{
  font-size: 11.5px;
  color: var(--clrGlobalB);
}

.addCliente svg, .addCliente path{
  margin-left: 5px;
  color: var(--clrGlobalB);
  cursor: pointer;
}

.rowMapConceptos, .rowMapAbonos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgList0);
}

.rowMapConceptos:hover, .rowMapAbonos:hover{
  background-color: var(--bgList1);
}

.rowMapConceptos:active, .rowMapAbonos:active{
  background-color: var(--bgList2);
}

.rowMapConceptos h1, .rowMapAbonos h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
  color: var(--clrGR0);
  cursor: pointer;
}

.rowMapConceptos h1:nth-child(1), .rowMapAbonos h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
}

.rowMapConceptos h1:nth-child(2), .rowMapAbonos h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowMapAbonos h1:nth-child(2){
  padding-left: 0 !important;
  width: 28%;
  text-align: center;
}

.rowMapConceptos h1:nth-child(3), .rowMapAbonos h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.rowMapAbonos h1:nth-child(3){
  width: 25%;
  text-align: center;
}

.rowMapConceptos h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.rowMapConceptos h1:nth-child(5), .rowMapAbonos h1:nth-child(4){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
}

.rowMapAbonos h1:nth-child(4){
  width: 28%;
}

.iconPlus{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlus div{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bgBtnG);
  cursor: pointer;
}

.iconPlus div:hover{
  background-color: var(--bgBtnG1);
}

.iconPlus div:active{
  background-color: var(--bgBtnG2);
}

.iconPlus svg, .iconPlus path{
  font-size: 18px;
  color: var(--clrBtn);
  cursor: pointer;
}

.toggleOff, .toggleOn{
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleOFF, .toggleON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleOff svg, .toggleON svg, .toggleOn svg, .toggleOFF path, .toggleOff path, .toggleON path, .toggleOn path{
  margin-right: 5px;
  color: var(--clrGlobalG);
  cursor: pointer;
}

.toggleON svg, .toggleOn svg, .toggleON path, .toggleOn path{
  color: var(--clr5);
  cursor: pointer;
}

.ivaInput{
  width: 38px !important;
}

.box3{
  padding-right: 3.5px !important;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box3 h1{
  margin: 2.5px 0 !important;
  font-size: 12.5px;
  color: var(--clrGlobalG);
}

.box3_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.box3_2{
  width: 40%;
}

.box3_2 h1{
  padding: 2px 0 !important;
  font-size: 12.5px;
  text-align: right;
}

.box3_1 h1:nth-child(3), .box3_2 h1:nth-child(3){
  font-weight: 600 !important;
}

.pagado{
  font-size: 14px !important;
  font-weight: 600 !important;
  color: var(--clrGlobalB) !important;
}

.productoBaseBox {
  margin: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productoBaseBox h1{
  margin-top: 5px !important;
  font-size: 16px;
  color: var(--clrGlobalG);
}

.productoBaseBox svg, .productoBaseBox path{
  margin-top: 10px;
  font-size: 20px;
  color: var(--clrGlobalG);
  cursor: pointer;
}

.span{
  color: var(--clrGlobalB) !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {

  .toggleOff svg, .toggleOn svg{
    margin-top: 20px;
  }
  
  .box3{
    margin-top: 50px;
  }

  .box3_1 h1{
    font-size: 14px;
  }

}
