.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.sectionDatos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
}

.datos_1 div, .datos_2 div{
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
}

.datos_2 div{
  align-items: flex-end !important;  
}

.datos_1 h1, .datos_2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clr5);
}

.datos_1 h2, .datos_2 h2{
  font-size: 14px;
  text-transform: capitalize;
  color: var(--clrGR0);
}

.datos_2 h2{
  text-align: right;
}

.toggleOFF, .toggleON{
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleON svg, .toggleOFF path, .toggleON path{
  margin-right: 5px;
  color: var(--clrGR0);
  cursor: pointer;
}

.toggleON svg, .toggleON path{
  color: var(--clr2);
  cursor: pointer;
}

.toggleON svg, .toggleOn svg, .toggleON path, .toggleOn path{
  color: var(--clr2);
  cursor: pointer;
}

.toggleON h2{
  margin: 0 2px !important;
  font-size: 14px;
  color: var(--clrGR0);
}

.ivaInput{
  width: 38px !important;
}

.iconPlus{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlus div{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--clrGR0);
  cursor: pointer;
}

.iconPlus div:hover{
  background-color: var(--clrGR1);
}

.iconPlus div:active{
  background-color: var(--clrGR2);
}

.iconPlus svg, .iconPlus path{
  font-size: 18px;
  color: var(--bgBody);
  cursor: pointer;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: var(--clrGR0);
}

.sectionTotal_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2 h1{
  margin: 4px 0 !important;
}

.sectionTotal_1 h1:nth-child(3), .sectionTotal_2 h1:nth-child(3){
  font-weight: 600 !important;
}

.mainQRPDF{
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrMain{
  margin: 0 20px;
}

.qrMain svg, .qrMain path{
  font-size: 50px;
  color: var(--clrGR0);
  cursor: pointer;
}

.qrMain div:hover svg, .qrMain div:hover path{
  color: var(--clrGR1);
}

.qrMain div:active svg, .qrMain div:active path{
  color: var(--clrGR2);
}

.iconPDF{
  padding: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {

  .datos_1 div, .datos_2 div{
    margin: 15px 0; 
  }

  .sectionTotal_1{
    width: 100%;
  }
  
  .sectionTotal_2{
    width: 25%;
  }

  .sectionTotal_1 h1{
    font-size: 14px;
  }

  .toggleNota{
    margin-top: 50px;
    max-width: 450px;
  }

}

