.main{
  margin: 200px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxForm{
  padding: 160px 0 50px 0;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(80, 80, 80, 0.2) 0px 8px 24px;
  position: relative;
}

.logo{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -70px;
}

.logo img{
  height: 120px;
}

.h1{
  padding: 20px 0;
  margin-top: -90px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 h1{
  font-size: 20px;
  text-align: center;
  color: var(--clrGR0);
}

.link{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link a{
  font-size: 14.5px;
  color: var(--clr2);
  cursor: pointer;
}

.label{
  color: var(--clrGR0) !important;
  background-color: azure !important;
}

.footer{
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div{
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h1{
  font-size: 14px;
  color: var(--clrGR0);
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {

  .boxForm{
    width: 500px;
  }

}