.addConceptForm{
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.iconDel div:hover svg, .iconDel div :hover path{
  color: var(--bg5);
}

.iconDel div:active svg, .iconDel div:active path{
  color: var(--bg6);
}