.rowConceptos, .rowAbonos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowConceptos h1, .rowAbonos h1{
  padding: 8px 0 4px 0 !important;
  height: auto;
  font-size: 12.5px;
  color: var(--clrBtn);
  background-color: var(--bgBtnG);
}

.rowConceptos h1:nth-child(1), .rowAbonos h1:nth-child(1){
  width: 20%;
  text-align: center;
}

.rowConceptos h1:nth-child(2), .rowAbonos h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowAbonos h1:nth-child(2){
  padding-left: 0 !important;
  width: 28%;
  text-align: center;
}

.rowConceptos h1:nth-child(3), .rowAbonos h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  text-align: right;
}

.rowAbonos h1:nth-child(3){
  padding-left: 0 !important;
  width: 25%;
  text-align: center;
}

.rowConceptos h1:nth-child(4){
  width: 10%;
  text-align: center;
}

.rowAbonos h1:nth-child(4){
  padding-right: 3.5px !important;
  width: 28%;
  text-align: right;
}

.rowConceptos h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  text-align: right;
}

@media screen and (min-width: 768px) {

  .rowConceptos{
    margin-top: 50px;
  }

  .rowConceptos h1{
    font-size: 14px;
  }

}